html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  font-family: "Questrial", sans-serif;
}
body .container {
  width: 100%;
}
#navbar {
  display: flex;
  width: 100%;
  padding-top: 20px;
  background: transparent;
  position: fixed;
}
#navbar #nav-left {
  width: 50%;
  padding-left: 20px;
}
#navbar #nav-left a {
  text-decoration: none;
  text-shadow: 2px 2px 5px #444798;
  transition: text-shadow 1s ease;
}
#navbar #nav-left a:hover {
  text-shadow: none;
  cursor: pointer;
}
#navbar #nav-left a h1 {
  text-shadow: 2px 2px 5px #444798;
  text-transform: uppercase;
  font-size: 1.9rem;
  color: #f5c41d;
  font-family: "Righteous", cursive;
}
#navbar #nav-right {
  width: 50%;
  padding-right: 30px;
  padding-top: 5px;
}
#navbar #nav-right nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
#navbar #nav-right nav ul a {
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  color: #3d4193;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: background 0.5s, color 0.5s ease;
}
#navbar #nav-right nav ul a:hover {
  color: #444798;
  cursor: pointer;
}
#navbar #nav-right #create {
  border: 2px solid #f5c41d;
  padding-left: 20px;
  padding-right: 20px;
  background: #f5c41d;
  border-radius: 20px;
  color: #3d4193;
  box-shadow: 0px 10px 18px -10px #888888;
}
#navbar #nav-right #create:hover {
  background: transparent;
  color: #f5c41d;
  cursor: pointer;
}
#banner {
  background: url('../../img/top.png') no-repeat center;
  background-size: cover;
  height: 570px;
  text-align: center;
  padding-top: 100px;
}
#banner img {
  margin-top: 20px;
  width: 40%;
}
#banner h1 {
  margin-top: -120px;
  margin-bottom: 20px;
  font-size: 5rem;
}
#banner h1 #first-word {
  color: #2eb0e6;
}
#banner h1 #second-word {
  color: #444798;
}
#banner a {
  margin: 10px;
  border: 1px solid #CCC;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
}
#banner a:hover {
  background: rgba(44, 44, 44, 0.082);
  cursor: pointer;
}
#instructions-container {
  text-align: center;
  margin-top: 100px;
}
#instructions-container h2 {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#instructions-container hr {
  background: #ccc;
  border: 0;
}
.instruct {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  margin-bottom: 200px;
}
.instruct h3 {
  font-size: 4rem;
  color: #444798;
  margin-bottom: 20px;
}
.instruct #i-left {
  width: 50%;
}
.instruct #i-right {
  width: 50%;
}
#in2 {
  background: linear-gradient(to bottom, #f5c41d, #f6af19);
  box-shadow: 0px 7px 10px -11px #888888;
  height: 550px;
}
#example1 {
  border-radius: 10px;
  margin-left: 100px;
  padding: 10px 20px;
  width: 60%;
  height: 300px;
  text-align: left;
  box-shadow: 0px 1px 20px -10px #888888;
}
#example1 hr {
  background: #ccc;
}
#example1 h4 {
  color: #2eb0e6;
  margin-top: 10px;
}
#example1 button {
  border: 1px solid #444798;
  padding: 5px 20px;
  background: #444798;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 8px 13px -10px #888888;
  float: right;
  font-size: 1.2rem;
  margin: 10px;
}
#example1 button:hover {
  background: white;
  color: #444798;
  cursor: pointer;
}
.txt-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}
.txt-field .fa-window-maximize {
  float: right;
}
.txt-field .fa-map-marker-alt {
  float: right;
}
.instruct2-left {
  display: flex;
  justify-content: center;
}
.instruct2-left .colorpalette {
  padding: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.192);
  margin: 5px;
}
.instruct2-left .one {
  color: white;
  background: #242038;
}
.instruct2-left .two {
  color: white;
  background: #9067c6;
}
.instruct2-left .three {
  color: white;
  background: #8d86c9;
}
.instruct2-left .four {
  color: white;
  background: #cac4ce;
}
.instruct2-left .five {
  color: white;
  background: #ebddcf;
}
.instruct2-left .six {
  color: #fff;
  background: #f7ece1;
}
.instruct2-left .seven {
  color: #ccc;
  background: white;
}
.instruct2-left .eight {
  color: #ccc;
  background: white;
}
#pallet {
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  width: 542px;
  margin-right: 78px;
  box-shadow: 0px 1px 20px -10px #888888;
}
#item-boxes {
  display: flex;
  justify-content: center;
}
#item-boxes .item {
  margin: 10px;
  height: 255px;
  width: 120px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 20px -10px #888888;
}
#item-boxes .item img {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}
#item-boxes .item p {
  text-align: left;
  padding: 0px 5px;
  font-size: 0.9rem;
  margin-top: 3px;
}
#item-boxes .item a {
  border-radius: 50px;
  margin: 10px 0px;
  width: 50px;
  padding: 5px 5px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #444798;
}
#item-boxes .item a:hover {
  color: #3d4193;
}
#item-boxes .item a .fa-times-circle {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #e83c62;
}
#item-boxes .item a .fa-times-circle:hover {
  color: #d02a4e;
}
#item-boxes #lastitem {
  background: transparent;
  border: 1px solid white;
  height: 40px;
  width: 60px;
  margin-top: 100px;
  padding-top: 10px;
}
#item-boxes #lastitem:hover {
  cursor: pointer;
}
#item-boxes #lastitem .fa-plus {
  color: white;
  font-size: 2rem;
}
#countbox {
  background: url("../../img/count.png") no-repeat center;
  background-size: cover;
  height: 315px;
  width: 610px;
  border-radius: 30px;
  box-shadow: 0px 1px 20px -10px #888888;
}
#countbox #countdown {
  font-size: 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.226);
  border-radius: 10px;
  position: relative;
  top: 140px;
}
footer {
  text-align: center;
  padding: 30px;
  width: 100%;
}
footer hr {
  background: #ccc;
  border: 0;
  margin-bottom: 30px;
}
footer a {
  text-decoration: none;
  color: #444798;
  margin: 50px 20px;
}
